$background-color: #1a1a1a;
$font-color: #f1fcff;

$mercedes: #1acbb0;
$alfa-romeo: #870002;
$ferrari: #d10005;
$haas: #808080;
$mclaren: #fc7209;
$racing-points: #f07fbc;
$red-bull: #161eff;
$renault: #fff70a;
$williams: #3985ff;
$alphatauri: #ffffff;
