@import "constants.scss";

.navbar {
	position: fixed;
	background-color: #101010;
	height: 100vh;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 40px;
	transition: all 0.3s;

	.toggle-button {
		position: absolute;
		background-color: #565656;
		display: flex;
		border-radius: 20px;
		padding: 5px;
		right: -10.5px;
		top: 50px;

		&:hover {
			cursor: pointer;
			background-color: #fd3131;
		}
	}

	.logo {
		width: 120px;
		margin-top: 50px;
		transition: all 0.3s;

		img {
			width: inherit;
		}
	}

	.buttons-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;

		a.is-active {
			.menu-button {
				background-color: #060606;
				color: #fd3131;
				border-left: 2px solid #fd3131;

				.button-label {
					font-weight: 700;
				}

				.selected-icon {
					display: flex;
				}
			}
		}

		.menu-button {
			display: flex;
			align-items: center;
			gap: 20px;
			padding: 15px 20px;
			height: 30px;
			transition: all 0.3s;

			.button-icon {
				display: flex;
				font-size: 22px;
				margin-left: 50px;
			}

			.button-label {
				font-weight: 300;
				font-size: 20px;
			}

			.selected-icon {
				margin: auto;
				margin-right: 10px;
				color: #fd3131;
				font-size: 20px;
				display: none;
			}

			&:hover {
				cursor: pointer;
				// color: #ffa9a9;
				background-color: #060606;
			}
		}
	}

	.bottom-navbar {
		padding-bottom: 20px;
	}

	&.toggled {
		width: 70px;

		.toggle-button {
			top: 70px;
			transform: rotate(180deg);
		}

		.logo {
			width: 50px;
			margin-top: 20px;
			margin-bottom: 42px;

			img {
				width: inherit;
			}
		}

		.buttons-wrapper {
			.menu-button {
				justify-content: center;

				.button-icon {
					margin-left: 0;
				}

				.button-label {
					display: none;
				}

				.selected-icon {
					display: none !important;
				}
			}
		}

		.bottom-navbar {
			visibility: hidden;
		}
	}
}
